.pad { -fx-padding: 12; }
.title { -fx-font-size: 16px; -fx-font-weight: bold; }
.muted { -fx-text-fill: -fx-text-background-color; -fx-opacity: 0.7; }

.table-row-cell.row-down {
    -fx-background-color: rgba(255, 80, 80, 0.12);
}


.status-badge {
    -fx-padding: 2 8 2 8;
    -fx-background-radius: 999;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}
.status-up    { -fx-background-color: #2e9e4f; }  /* green */
.status-down  { -fx-background-color: #d64545; }  /* red */

